* {
  box-sizing: border-box=border-box;
}

.bodyShowRoom {
  background-color: rgb(2, 47, 87);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}
.container {
  perspective: 1000px;
  margin-bottom: 30px;
}
.seat {
  background-color: #4f4f64;
  height: 42px;
  width: 58px;
  margin: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.seat.selected {
  background-color: #aed309;
}
.seat.sold {
  background-color: white;
}
.seat:nth-of-type(1) {
  margin-right: 18px;
}

.seat:nth-last-of-type(1) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1, 1.2);
}
.showcase.seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}
.showcase {
  background: rgba(0, 0, 0, 0, 1);
  padding: 5px 10px;
  border-radius: 5px;
  color: gray;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}
.row {
  display: flex;
}
.screen {
  background-color: white;
  height: 100px;
  width: 100%;
  margin: 10px 0;
  transform: rotatex(-50deg);
  box-shadow: 0 3px 10px white;
}
/* button.reserve {
  background-color: white;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  appearance: none;
} */
button.reserve:hover {
  cursor: pointer;
  background-color: #aed309;
}
button.reserve {
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  background: linear-gradient(to right, #aed309, #dcec95);
  border: 0;
  box-shadow: 0 0 10px 5px rgb(13, 1, 66);
  outline: none;
  border-radius: 30px;
  color: #202245;
}

.backToMovie {
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: linear-gradient(to right, #aed309, #d4e28d);
  border: 0;
  outline: none;
  border-radius: 30px;
  box-shadow: 0 0 20px 9px rgb(13, 1, 66);
  color: rgb(13, 1, 66);
}

.seatSold1 {
  background-color: white;
  height: 42px;
  width: 58px;
  margin: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.seatSold1:nth-of-type(1) {
  margin-right: 18px;
}

.seatSold1:nth-last-of-type(1) {
  margin-left: 18px;
}

.seatSold1:hover {
  cursor: default;
}
